main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
article{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inputgroup{
    width: 100%;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    outline-color: #003CFF;
    border: 1px solid #80808075;
    margin: 5px 0;
    padding: 16px 24px;
    border-radius: 8px ; 
}
    
.link {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.link a{
    color: #003CFF;
}
.btn{
    border: none;
    background-color: #003CFF;
    color: white;
    font-weight: bold;
    transition-duration: 0.3s;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: #003CFF;
    border: 1px solid #003CFF;
}
.submit{
    display: flex;
    justify-content: center;
}